<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">Interpreting Icons</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-25">
                <i class="icon ion-ios-football green-icon"></i>
            </div>
            <div class="col col-75">
                Online status of user
            </div>

        </div>
        <div class="row">
            <div class="col col-25">
                <i class="icon ion-android-walk green-icon"></i>
            </div>
            <div class="col col-75">
                Make your move
            </div>
        </div>
        <div class="row">
            <div class="col col-25">
                <i class="icon ion-android-bulb  green-icon"></i>
            </div>
            <div class="col col-75">
                Make your guess
            </div>
        </div>
        <div class="row">
            <div class="col col-25">
                <i class="icon ion-android-hand green-icon"></i>
            </div>
            <div class="col col-75">
                Wait, opponent's turn
            </div>

        </div>
    </ion-content>
</ion-popover-view>
