/* Empty. Add your own CSS if you like */
.loginPage {
  background: url('./../img/guess.png') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  text-align: center;
}

.game {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}
