/* Empty. Add your own CSS if you like */
.loginPage {
  background: url('./../img/guess.png') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  text-align: center;
}

.centre {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.game {

}

.game td{
    vertical-align: middle;
}

.img-circle {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

div.col:focus {
    background-color:red;
}
